<!DOCTYPE html>
<html lang="en">
<head>
    <title>Deposit</title>
    {% include "cdn/cdn.html" %}
</head>
<body>
 {% include "share/navbar.html" %}

<div class="container mt-5">
    <h2>Deposit Money</h2>
    {% for message in  messages %}
    <p class="text-info fs-4 fw-bold text-center my-3">{{message}}</p>
    {% endfor %}

    <form method="POST" class="my-4">
        {% csrf_token %}
        <div class="form-group">
            {{ form.amount.label }}
            {{ form.amount }}
            {% if form.amount.errors %}
                <div class="text-danger">
                    {{ form.amount.errors }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary my-2">Deposit</button>
    </form>
  {% include "share/footer.html" %}
</div>
</body>
</html>

