<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    {% include "cdn/cdn.html" %}
</head>
<body>
    {% include "share/navbar.html" %}
    {% for message in  messages %}
    <p class="text-primary text-center my-3">{{message}}</p>
    {% endfor %}

    <div class="d-flex justify-content-center align-items-center vh-100 bg-light">

        <div class="card shadow-lg p-4" style="width: 550px;">
            <h2 class="text-center mb-3 text-info">Register</h2>

            <form method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
    
                <button type="submit" class="btn btn-primary my-2 w-100">Register</button>
            </form>
    
            <div class="text-center mt-3">
                <small>Already have an account? <a href="{% url 'login-page' %}">Login</a></small>
            </div>
        </div>
    
    </div>
    {% include "share/footer.html" %}
</body>
</html>
