<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Hotel - {{ hotel.name }}</title>
    {% include "cdn/cdn.html" %}
</head>
<body>
    {% include "share/navbar.html" %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white text-center">
                        <h4>Edit Hotel - {{ hotel.name }}</h4>
                    </div>
                    <div class="card-body">
                        <form method="post"  action="{% url 'edit_hotel' hotel.id %}" enctype="multipart/form-data" class="mt-3">
                            {% csrf_token %}
                            <div class="mb-3 d-flex flex-column">
                                <label class="form-label">Image</label>
                                {% if hotel.image %}
                                    <img src="{{ hotel.image.url }}" alt="{{ hotel.name }}" class="img-fluid mb-3" style="max-height: 200px;">
                                {% endif %}
                                {{ form.image }}
                            </div>
                            
                            <div class="mb-3">
                                <label class="form-label">Hotel Name</label>
                                {{ form.name }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Address</label>
                                {{ form.address }}
                            </div>
                        
                            <div class="mb-3">
                                <label class="form-label">Price per Night</label>
                                {{ form.price_per_night }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Available Rooms</label>
                                {{ form.available_rooms }}
                            </div>
                            <button type="submit" class="btn btn-success w-100">Update Hotel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "share/footer.html" %}
</body>
</html>
